/* Configs */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* header */

header {
  width: 100%;
  background-color: darkcyan;
  padding: 20px 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.logo-header {
  width: 150px;
}

.nav-bar {
  justify-self: end;
  align-self: center;
}

.nav-bar nav ul:last-child {
  margin: 0 20px
}

.nav-bar nav ul li {
  display: inline-block;
  margin: 0 10px;
}

.nav-bar a {
  text-decoration: none;
  font-size: 28px;
  letter-spacing: 0.2;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
}

.nav-bar a:hover {
  text-decoration: underline;
  color: rgb(23, 173, 30);
  transition: all 0.3s;
}

/* main */

main h1, p{
  text-align: center;
}

.home {
  width: 100%;
}

.lista-servicos {
  width: 50%;
  margin: 1em auto;
}

/* footer */

footer {
  width: 100%;
  background-color: darkcyan;
  padding: 20px 0;
}

.logo-footer {
  width: 100px;
  margin: 0 auto;
}

.logo-footer img {
  width: 100px;
}

.logo-footer p {
  text-align: center;
  font-weight: bold;
  font-size: 15px;
}