/* Configs */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* header */

header {
  width: 100%;
  background-color: darkcyan;
  display: grid;
  grid-template-columns: 1fr 2fr;
  position: fixed;
}

.logo-header {
  width: 100px;
}

.nav-bar {
  justify-self: end;
  align-self: center;
}

.nav-bar nav ul:last-child {
  margin: 0 20px
}

.nav-bar nav ul li {
  display: inline-block;
  margin: 0 10px;
}

.nav-bar a {
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 0.2;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
}

.nav-bar a:hover {
  text-decoration: underline;
  color: rgb(23, 173, 30);
  transition: all 0.3s;
}


/* main */
main h1 {
  text-align: center;
  margin: 2em 0;
}

.home h1 {
  margin-top: 6em;
}

main p {
  text-align: center;
  margin: 0 0 1em;
}

.home {
  width: 100%;
}

.lista-servicos {
  margin: 0 auto;
  width: 50%;
}

.lista-servicos ul li {
  margin-bottom: 0.5em;
}

.projetos-imagens {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.projetos-imagens img {
  width: 20%;
}


/* footer */

footer {
  width: 100%;
  background-color: darkcyan;
  padding: 10px 0;
}

.logo-footer {
  width: 100px;
  margin: 0 auto;
}

.logo-footer img {
  width: 100px;
}

.logo-footer p {
  text-align: center;
  font-weight: bold;
  font-size: 15px;
}