/* fonte */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
/* variaveis */

:root {
    --cor-principal: rgb(20, 93, 160);
    --cor-secundaria: rgb(217, 217, 217);

    --cor-titulo: rgb(177, 212, 224);
    --cor-botao: rgb(63, 164, 197);

    --cor-bgInput: rgb(235, 232, 232);
    --cor-whats: green;
    --cor-whats-sec: white;
}

/* Configs */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.2px;
}

fieldset {
    border: none;
}

.titulo-section {
    text-align: center;
    margin: 2em 0;
    font-size: 35px;
    color: var(--cor-titulo);
    text-transform: uppercase;
    text-shadow: var(--cor-principal) 2px 2px 1px;
}

:target::before {
    content: "";
    display: block;
    height: 85px;
    /* fixed header height*/
    margin: -85px 0 0;
    /* negative fixed header height */
}


