@media screen and (max-width: 480px) {

  html {
    position: absolute;
  }

  header {
    display: flex;
    flex-direction: column;
  }

  .shadow-container {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.26);
    justify-content: center;
    align-items: center;
}

.container {
  display: inline-block;
  width: 80%;
  height: 90%;
}

  .titulo-section {
    margin: 0.5em 0;
  }

  /* Codigo underline */
  .nav-bar a::after, .right-content-developers-footer a::after {
    content: none;
  }

  .nav-bar a:hover::after, .nav-bar a:focus::after, .right-content-developers-footer a:hover::after, .right-content-developers-footer a:focus::after {
    opacity: 0;
  }

  /* Menu lateral */
  .nav-bar i {
    font-size: 40px;
  }

  .nav-bar i:active, .fa-times-circle:active {
    color: gray;
  }

  .nav-bar .fa-bars {
    display: inline-block;
    position: absolute;
    top: 46px;
    right: 30px;
  }

  .nav-bar ul {
    display: none;
  }

  /* Menu flutuante */

  aside {
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    position: fixed;
    display: flex;
  }

  .left-menu-content-blur {
    width: 30%;
    background-color: black;
    opacity: 0.5;
  }

  .right-menu-content-cel {
    display: block;
    box-shadow: black 1px 1px 1px 1px;
    background-color: var(--cor-secundaria);
    width: 70%;
  }

  .right-menu-content-cel h1 {
    margin-left: 15px;
  }

  .menu-close-button {
    background-color: var(--cor-botao);
    border-bottom: solid 2px var(--cor-principal);
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px 8px 0 0;
  }

  .menu-close-button i, .menu-close-button h1 {
    font-size: 40px;
    margin: 0 15px;
  }

  .menu-links {
    height: 90%;
  }

  .menu-links li {
    margin: 1em 0 0 15px;
    list-style: none;
  }

  .menu-links a {
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 0.2;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--cor-principal);
    display: block;
    position: relative;
    padding: 0.2em 0;
  }

  .hide {
    display: none;
  }

  /* Main */

  .home {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), url("/assets/images/serralheiro.jpg");
    width: 100%;
  }

  .home-content {
    display: grid;
    grid-template-columns: 1fr;
  }

  .home-left-content img {
    display: none;
  }

  .anchor {
    border: red 1px solid;
    position: relative;
    top: -116px;
    visibility: hidden;
  }

  .img-text-group {
    width: 20%;
}

  .projetos-imagens-group1 img, .projetos-imagens-group2 img{
    width: 100%;
    margin: 0 auto;
  }

  .img-text-group {
    display: flex;
    flex-direction: column;
    background-color: var(--cor-secundaria);
  }

  .img-text-group h2 {
    text-align: center;
    font-size: 100%;
    color: var(--cor-principal);
  }

  .img-text-group p {
    display: none;
  }

  .far.fa-question-circle {
    display: block;
    font-size: 30px;
    text-align: center;
  }

  /* Menu flutuante para as descrições projetos*/

  .projetos-menu-group {
    width: 100%;
    height: 90%;
  }

}